@page "/ar/dailyimport"
@using ChainConnext.Shared.BD

@inject ContextMenuService ContextMenuService
@inject ILogger<ARDailyImport> Logger
@inject DialogService dialogService
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation
@inject IAccountService _accountService
@inject NotificationService NotificationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>ChainConnext > บัญชีลูกหนี้ > นำเข้าข้อมูล</PageTitle>

@if (!IsAccess)
{
    <RadzenText TextStyle="TextStyle.H1">ไม่มีสิทธิในส่วนนี้</RadzenText>
}
else
{
    <RadzenStack>
        @* <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="3">
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                        <RadzenLabel Text="<" />
                    </button>
                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <RadzenLabel Text=">" />
                    </button>
                </div>
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenRow>
                    <div class="input-group">
                        <RadzenButton Icon="chevron_left" ButtonStyle="ButtonStyle.Info" />
                        <RadzenDatePicker TValue="DateTime?" Value=@FindDate Change="@(args => OnDateChange(args))" DateFormat="dd/MM/yyyy" />
                        <RadzenButton Icon="chevron_right" ButtonStyle="ButtonStyle.Info" />
                    </div>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.NoWrap" Gap="0.1rem">
                    <RadzenButton Icon="chevron_left" ButtonStyle="ButtonStyle.Info" />
                    <RadzenDatePicker TValue="DateTime?" Value=@FindDate Change="@(args => OnDateChange(args))" DateFormat="dd/MM/yyyy" />
                    <RadzenButton Icon="chevron_right" ButtonStyle="ButtonStyle.Info" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow> *@
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="3">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.NoWrap" Gap="0.1rem">
                    <RadzenButton Icon="chevron_left" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Info" Click=@(()=>OnButtonDateChange(-1)) IsBusy=@IsLoad />
                    <RadzenDatePicker TValue="DateTime?" Value=@FindDate Change="@(args => OnDateChange(args))" DateFormat="dd/MM/yyyy" />
                    <RadzenButton Icon="chevron_right" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Info" Click=@(()=>OnButtonDateChange(1)) IsBusy=@IsLoad />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenButton Icon="search" ButtonStyle="ButtonStyle.Success" Class="w-100" IsBusy=@IsLoad Click=@GetData />
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenButton Icon="download" ButtonStyle="ButtonStyle.Info" Class="w-100" IsBusy=@IsLoad Click=@ShowBusyDialogProgress />
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenCheckBox @bind-Value=@IsNonSave Name="IsNonSave" />
                <RadzenLabel Text="แสดงเฉพาะที่ยังไม่นำเข้า" Component="IsNonSave" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenCheckBox @bind-Value=@IsChange Name="IsChange" />
                <RadzenLabel Text="แสดงสัญญาเปลี่ยนสวม(?)ด้วย" Component="IsChange" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="2">
                <RadzenLabel Text=@StatusRow />
            </RadzenColumn>
            <RadzenColumn Size="12">
                <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Max="100" @bind-Value=@currentPregress />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="12">
                @* <RadzenDataGrid IsLoading="@IsLoad" Data="@ListDetailMastCont" TItem="BD_MastCont" AllowColumnResize="true"
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                                AllowSorting="true" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedDetailMastCont
                                AllowPaging="true" PageSize="10"
                                PagerPosition="PagerPosition.Bottom" ColumnWidth="150px" Style=@($"height:{(Height - 150)}px")>
                    <Columns>
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="toacc" Title="เข้า" Frozen="true" Filterable="false" Sortable="false" Width="50px">
                            <Template Context="Um">
                                <RadzenCheckBox TriState="false" TValue="bool?" Value=@Um.is_toacc />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="RefNo" Title="เลขอ้างอิง" Frozen="true">
                            <FooterTemplate>
                                <b>@ListDetailMastCont.Count</b>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="fromrefno" Title="เปลี่ยนมาจากา" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="CONTNO" Title="เลชสัญญา" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="MODEL" Title="สินค้า" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="SERIALNO" Title="เลขเครื่อง" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="MODE" Title="งวด" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="SALES" Title="ราคาเงินสด" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="CREDIT" Title="ราคาเช่าซื้อ" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="premium2" Title="งวดแรก" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="PREMIUM" Title="งวดต่อไป" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="discfirst" Title="ส่วนลด" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="netcredit" Title="หักส่วนลด" />
                        <RadzenDataGridColumn TItem="BD_MastCont" Property="nextcredit" Title="ชำระงวดแรก" />
                    </Columns>
                </RadzenDataGrid> *@
                <ARContractDetailList ListDetailMastCont=@ListDetailMastCont IsLoad=@IsLoad Height=@Height Width=@Width />
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}